<form ng-submit="register()">
  <div class="form-group" ng-show="error">
    <div class="alert alert-danger">{{ error }}</div>
  </div>
  <div class="form-group">
    <label for="exampleInputUsername">Username</label>
    <input type="text" ng-model="username" class="form-control" id="exampleInputUsername" placeholder="Enter Username">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" ng-model="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputName">Name</label>
    <input type="text" ng-model="name" class="form-control" id="exampleInputName" placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" ng-model="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleInputRole">Role</label>
    <select class="form-control" ng-model="role" ng-init="role = 'normal'">
      <option value="normal">Normal</option>
      <option value="admin">Admin</option>
    </select>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>