<!DOCTYPE html>
<html ng-app="sailng" ng-controller="AppCtrl">
<head>
    <base href="/">
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/vendor/angular/angular-csp.css">
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendor/ng-table/ng-table.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
</head>

<body>
<%- body %>



<!--

  Client-side Javascript
  ========================

  You can always bring in JS files manually with `script` tags, or asynchronously
  on the client using a solution like AMD (RequireJS).  Or, if you like, you can
  take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

  By default, files in your `assets/js` folder are included here
  automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
  CoffeeScript (.coffee) are supported. In production, your scripts will be minified
  and concatenated into a single file.

  To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
  For example, here are a few things you could do:

      + Change the order of your scripts
      + Import scripts from other directories
      + Use a different preprocessor, like TypeScript

-->

<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/vendor/angular/angular.js"></script>
<script src="/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/vendor/angular-ui-utils/ui-utils.min.js"></script>
<script src="/vendor/lodash/dist/lodash.min.js"></script>
<script src="/vendor/ng-table/ng-table.js"></script>
<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/angular-moment/angular-moment.js"></script>
<script src="/vendor/angular-ui-utils/ui-utils-ieshiv.min.js"></script>
<script src="/vendor/lodash/dist/lodash.compat.min.js"></script>
<script src="/vendor/lodash/dist/lodash.underscore.min.js"></script>
<script src="/vendor/moment/min/moment-with-locales.min.js"></script>
<script src="/src/app/about/index.js"></script>
<script src="/src/app/app.js"></script>
<script src="/src/app/auth/index.js"></script>
<script src="/src/app/header/index.js"></script>
<script src="/src/app/home/index.js"></script>
<script src="/src/app/users/index.js"></script>
<script src="/src/common/directives/blink.js"></script>
<script src="/src/common/models/User.js"></script>
<script src="/src/common/models/index.js"></script>
<script src="/src/common/services/auth.js"></script>
<script src="/src/common/services/config.js"></script>
<script src="/src/common/services/index.js"></script>
<script src="/src/common/services/lodash.js"></script>
<script src="/src/common/services/title.js"></script>
<script src="/src/common/services/utils.js"></script>
<!--SCRIPTS END-->

<!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

<!--TEMPLATES-->
<script type="text/javascript" src="/templates.js"></script>
<!--TEMPLATES END-->

</body>
</html>
